{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <header class="hero-anime">

    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">

                        <a class="navbar-brand" href="/" target="_blank"><a class="nav-link" style="font-weight: bold;font-size: 2em;">MOULTSON</a></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Présentation</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Mes projets</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Mes compétences</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Mon Cv</a>
                                </li>
                            </ul>
                        </div>
                        <div id="switch">
                            <div id="circle"></div>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="section full-height">
        <img class="photomoi" src="{{ asset('build/images/photomoi.png') }}">
        <div class="absolute-center">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-13">
                            <h1>
                                <span>P</span><span>r</span><span>é</span><span>s</span><span>e</span><span>n</span><span>t</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span><br>
                            </h1>
                            <div>
                            <p>Je m'appelle Guillaume , je suis né le 27/01/1995.</p><br>
                               <p>J'ai étudié dans le domaine du Système Electronique Numérique pendant mes 3 années de Lycée.</p><br>
                            <p>J'ai ensuite travaillé au sein de la Police Nationale pendant 2 ans à Bordeaux.</p><br>
                            <p>Et maintenant je suis en pleine reconversion Professionelle en tant que Développeur Web spécialité Php/Symfony au sein de la Wild Code School de Bordeaux.</p><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Link to page
    ================================================== -->

    </header>
{% endblock %}
