---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Guillaume Moultson" description="À propos de guillaume moultson">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Guillaume Moultson"
				tagline="Apprennez en plus sur votre futur développeur"
			>
				<div><img
					width="500"
					height="873"
					src="/assets/moi.png"
					alt="Jeanine White at projets with a colleague"
				/></div>

			</Hero>

			<section>
				<h2 class="section-title">À propos de moi</h2>
				<div class="content">
					<!--<p>-->
					<!--	Passionné d’informatique,-->
					<!--	j’ai fait du développement web mon métier il y a 3 ans.-->
					<!--	&lt;!&ndash;Très à l’écoute et méthodique, de nature logique, je m’adapte très facilement aux situations.&ndash;&gt;-->
					<!--</p>-->
					<!--</br>-->
					<!--<p>-->
					<!--	Spécialisé dans le développement back-end mais le front ne me fait pas peur.-->
					<!--	J'ai travaillé sur plusieurs projets significatifs, notamment la création d'une application web interactive-->
					<!--	(CRM), où j'ai été chargé de concevoir l'interface utilisateur notamment l'outil qui permet de gérer les utilisateurs avec Live compoenent un bundle de Symfony.-->
					<!--	J'ai également plusieurs formations à mon actif, avec l'optention du titre de développeur web et web mobile optenue en 2023.-->
					<!--	En dehors du travail, j'aime concevoir des minis applications en lien avec ma passion.-->
					<!--</p>-->
					<!--</br>-->
					<!--<p>-->
					<!--	Passionné d’informatique, j’ai fait du développement web mon métier il y a 3 ans.</br></br>-->
					<!--	Spécialisé dans le  back-end et formé au front-end,-->
					<!--	j'ai eu l'occasion de contribuer à plusieurs projets significatifs,-->
					<!--	dont la création d'un CRM. J'ai également été chargé du développement d'un outil-->
					<!--	de gestion des utilisateurs avec le bundle Symfony Live Component.</br></br>-->
					<!--	Tout cela lorsque je validais mon titre de développeur web, obtenu en 2023,-->
					<!--	notamment en suivant les formations de la Wild Code School, celle de 2itech Academy-->
					<!--	et en complétant ces dernières par des formations ponctuelles sur la plateforme en ligne DYMA.</br></br>-->
					<!--	En parallèle des expériences évoquées précédemment, j'aime à perfectionner mes connaissances lors de projets personnels-->
					<!--	et en produisant une veille sur les nouvelles technologies.-->
					<!--</p>-->

					<!--<p>-->
					<!--	Passionné d’informatique, j’ai fait du développement web mon métier il y a 3 ans.</br></br>-->
					<!--	Spécialisé dans le  back-end et formé au front-end,-->
					<!--	j'ai eu l'occasion de contribuer à plusieurs projets significatifs,-->
					<!--	dont la création d'un CRM. J'ai également été chargé du développement d'un outil-->
					<!--	de gestion des utilisateurs avec le bundle Symfony Live Component.</br></br>-->
					<!--	Tout cela lorsque je validais mon titre de développeur web, obtenu en 2023,-->
					<!--	notamment en suivant les formations de la Wild Code School, celle de 2itech Academy-->
					<!--	et en complétant ces dernières par des formations ponctuelles sur la plateforme en ligne DYMA.</br></br>-->
					<!--	En parallèle des expériences évoquées précédemment, j'aime à perfectionner mes connaissances lors de projets personnels-->
					<!--	et en produisant une veille sur les nouvelles technologies.-->
					<!--</p>-->

					<p>
						Passionné d’informatique depuis l’âge de 12 ans, j’ai fait du développement web mon métier il y a 3 ans.
						Très à l’écoute et méthodique, de nature logique, je m’adapte très facilement aux situations.</br></br>
						Je suis spécialisé dans le développement <strong>back-end</strong> mais le <strong>front-end</strong> ne me fait pas peur.
						j'ai eu l'occasion de contribuer à plusieurs projets, dont la création d'un <strong>CRM</strong> pendant mon alternance.
						J'étais en charge du développement d'un outil de gestion des utilisateurs avec le <strong>bundle Symfony Live Component</strong>.</br></br>

						J'ai fais plusieurs formations dont la Wild Code School et la 2itech Academy où j'ai obtenu mon titre
						de développeur web et web mobile. De plus je continue de me former via la plateforme Dyma en <strong>Node JS</strong>.
						Dans mon temps libre, j'aime bien faire des minis applications, jouer avec les <strong>Api</strong> de mes jeux préférés.
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content formation">
					<p><strong>Formation</strong> Node JS/ React</p>
					<em>Dyma - 2024</em>
					</br>
					</br>
					<p><strong>Titre Professionnel BAC +2</strong> : Développeur web et web mobile en alternance</p>
					<em>2itech Academy - 2021</em>
					</br>
					</br>
					<p>Développeur web et web mobile</p>
					<em>Wild Code School - Bordeaux - 2019</em>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content" style="grid-column: 1/6;display: flex;justify-content: space-around;">
					<div class="container">
						<div style="display: flex; justify-content: center; margin: 5px; align-items: flex-start;">
							<img src="/assets/html.png" style="margin-right: 10px;">
							<p>Html</p>
						</div>
						<!--<div class="progress2 progress-moved">-->
						<!--	<div class="progress-bar progress-bar1" >-->
						<!--	</div>-->
						<!--</div>-->
					</div>
					<div class="container">
						<div style="display: flex; justify-content: center; margin: 5px; align-items: flex-start;">
							<img src="/assets/symfony-icon.png" style="margin-right: 15px;background-color: white;border-radius: 20px;">
							<p>Symfony</p>
						</div>
						<!--<div class="progress2 progress-moved">-->
						<!--	<div class="progress-bar progress-bar2" >-->
						<!--	</div>-->
						<!--</div>-->
					</div>
				</div>
				<div class="content" style="grid-column: 1/6;display: flex;justify-content: space-around;">
					<div class="container">
						<div style="display: flex; justify-content: center; margin: 5px; align-items: flex-start;">
							<img src="/assets/css.png" style="margin-right: 10px;">
							<p>CSS / SCSS</p>
						</div>
						<!--<div class="progress2 progress-moved">-->
						<!--	<div class="progress-bar progress-bar3" >-->
						<!--	</div>-->
						<!--</div>-->
					</div>
					<div class="container">
						<div style="display: flex; justify-content: center; margin: 5px; align-items: flex-start;">
							<img src="/assets/sql.png" style="margin-right: 15px;background-color: white;border-radius: 12px;">
							<p>Sql</p>
						</div>
						<!--<div class="progress2 progress-moved">-->
						<!--	<div class="progress-bar progress-bar4" >-->
						<!--	</div>-->
						<!--</div>-->
					</div>
				</div>
				<div class="content" style="grid-column: 1/6;display: flex;justify-content: space-around;">
					<div class="container">
						<div style="display: flex; justify-content: center; margin: 5px; align-items: flex-start;">
							<img src="/assets/javascript.png" style="margin-right: 10px;">
							<p>Javascript</p>
						</div>
						<!--<div class="progress2 progress-moved">-->
						<!--	<div class="progress-bar progress-bar5" >-->
						<!--	</div>-->
						<!--</div>-->
					</div>
					<div class="container">
						<div style="display: flex; justify-content: center; margin: 5px; align-items: flex-start;">
							<img src="/assets/node.webp" style="margin-right: 15px;border-radius: 12px;">
							<p>Node JS / Express JS</p>
						</div>
						<!--<div class="progress2 progress-moved">-->
						<!--	<div class="progress-bar progress-bar6" >-->
						<!--	</div>-->
						<!--</div>-->
					</div>
				</div>
				<style>
					.container {
						margin-bottom: 1.5rem;
						width: 500px;
						text-align: center;
					}

					.progress2 {
						padding: 6px;
						border-radius: 30px;
						background: #ffffffcc;
						//background: rgba(0, 0, 0, 0.25);
						box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
					}


					.progress-bar {
						//height: 18px;
						//border-radius: 30px;
						//background-image:
						//	linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
						//transition: 0.4s linear;
						//transition-property: width, background-color;
						height: 18px;
						background-color: #ee303c;
						border-radius: 30px;
						transition: 0.4s linear;
						transition-property: width, background-color;
					}


					.progress-moved .progress-bar1 {
						//width: 80%;
						//background-color: #266de0;
						//animation: progressAnimation1 6s;
						background-color: #8a2be2;
						width: 90%;
						background-image: linear-gradient(
							45deg, #6614b8 25%,
							transparent 25%, transparent 50%,
							#6614b8 50%, #6614b8 75%,
							transparent 75%, transparent);
						animation: progressAnimation1 6s;
					}

					.progress-moved .progress-bar2 {
						background-color: #8a2be2;
						width: 75%;
						background-image: linear-gradient(
							45deg, #6614b8 25%,
							transparent 25%, transparent 50%,
							#6614b8 50%, #6614b8 75%,
							transparent 80%, transparent);
						animation: progressAnimation2 6s;
					}

					.progress-moved .progress-bar3 {
						background-color: #8a2be2;
						width: 90%;
						background-image: linear-gradient(
							45deg, #6614b8 25%,
							transparent 25%, transparent 50%,
							#6614b8 50%, #6614b8 75%,
							transparent 75%, transparent);
						animation: progressAnimation3 6s;
					}

					.progress-moved .progress-bar4 {
						background-color: #8a2be2;
						width: 70%;
						background-image: linear-gradient(
							45deg, #6614b8 25%,
							transparent 25%, transparent 50%,
							#6614b8 50%, #6614b8 75%,
							transparent 75%, transparent);
						animation: progressAnimation4 6s;
					}

					.progress-moved .progress-bar5 {
						background-color: #8a2be2;
						width: 65%;
						background-image: linear-gradient(
							45deg, #6614b8 25%,
							transparent 25%, transparent 50%,
							#6614b8 50%, #6614b8 75%,
							transparent 75%, transparent);
						animation: progressAnimation5 6s;
					}

					.progress-moved .progress-bar6 {
						background-color: #8a2be2;
						width: 50%;
						background-image: linear-gradient(
							45deg, #6614b8 25%,
							transparent 25%, transparent 50%,
							#6614b8 50%, #6614b8 75%,
							transparent 75%, transparent);
						animation: progressAnimation6 6s;
					}

					.container p{
						margin-bottom: 10px;
					}

					@keyframes progressAnimation1 {
						0%   { width: 5%; background-color: #6614b8;}
						100% { width: 90%; background-color: #8a2be2; }
					}

					@keyframes progressAnimation2 {
						0%   { width: 5%; background-color: #6614b8;}
						100% { width: 75%; background-color: #8a2be2; }
					}

					@keyframes progressAnimation3 {
						0%   { width: 5%; background-color: #6614b8;}
						100% { width: 90%; background-color: #8a2be2; }
					}

					@keyframes progressAnimation4 {
						0%   { width: 5%; background-color: #6614b8;}
						100% { width: 70%; background-color: #8a2be2; }
					}

					@keyframes progressAnimation5 {
						0%   { width: 5%; background-color: #6614b8;}
						100% { width: 65%; background-color: #8a2be2; }
					}

					@keyframes progressAnimation6 {
						0%   { width: 5%; background-color: #6614b8;}
						100% { width: 50%; background-color: #8a2be2; }
					}

					.container img{
						width: 7%;
						margin-top: 0;
						border-radius: 0;
						box-shadow: none;
					}

				</style>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 67% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
