.display-center{
  display: flex;
  justify-content: center;
  align-content: center;
}
.display-center-column{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
